h1 {
    text-align: center;
}


main {
    display: flex;
    text-align: center;
}

.mb-3 {
    width: 20vw;

}

.jumbotron {
    width: 40vw;

}

.card {
    background-color: lightblue;
}

/* .mb-3 {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 5%;
} */

